
/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

  #logo
  {
    padding: 4em 0em;
    text-transform: uppercase;
  }

  #logo h1
  {
    text-align: center;
    font-weight: 900;
    font-size: 2.5em;
  }

  #logo h1 a
  {
  }

  #logo span
  {
    padding: 0em 0em 0em 0.5em;
  }

  #logo h1:before
  {

  }

  #logo a
  {
    color: #3f3f3f;
  }
